libmysqlclient-dev (python依赖库)
python3-dev (python依赖库)
default-libmysqlclient-dev (python依赖库)

django
mysqlclient
Celery
redis
Json
Django-celery
logging
html
Json
django-cors-headers
django-redis
uwsgi