<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/js/jquery.min.js">
</head>
<body>
     <!-- 顶部导航栏 -->
      <nav class="navbar navbar-default navbar-fixed-top row">
        
        <div class="col-md-1"><!-- 网页logo -->
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        
        <div class="col-md-6"><!-- 关键字整理 -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">python基础 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">面向对象</a></li>
                <li><a href="#">网络与并发</a></li>
                <li><a href="#">数据库</a></li>
                <li><a href="#">Django</a></li>
                <li><a href="#">爬虫</a></li>
                <li><a href="#">数据分析</a></li>
                <li><a href="#">第三方库</a></li>
                
                <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    网络与并发 
                </a> -->
            <ul class="dropdown-menu">
        </div>
        
        <div class="col-md-5"><!-- 搜索 -->
            <form class="navbar-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="请输入关键字...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
                </span>
              </div><!-- /input-group -->
        </div>
      </nav>
</body>
</html>